<!DOCTYPE html>
<head>
   <style>
      body {
   margin-top: 25px;
   margin-bottom: 100px;
}

.img-fluid {
   margin-bottom: 30px;
   border-radius: 1vw;
   box-shadow: 5px 5px 2px dimgray;
}

footer {
   height: 100px;
   background-color: lightgray;
   display: flex;
   align-items: center;
   justify-content: center;
   color: black;
   font-size: 18px;
}

.SocialMedia-icon {
   width: 60px;
   height: 60px;
   border-radius: 10%;
}

#PFlinkBlock {
   display: flex;
   flex-direction: row;
   justify-content: flex-start;
   align-items: center;
   width: 50%;
   padding-left: 10px;
   border-left: 1px groove lightgray;
}

#justMe {
   display: flex;
   flex-direction: row;
   justify-content: flex-end;
   text-align: right;
   width: 50%;
   display: inline-block;
   padding-right: 10px;
}
   </style>
</head>
<html>
   <footer class="fixed-bottom">
      <div id="justMe">
         <span>
            Made by David Moreno<br />
            <a href="mailto:wabbie@byui.edu">wabbie@byui.edu</a><br />
         </span>
      </div>
      <div id="PFlinkBlock">
         <div id="SocialLinks">
            <a href="https://www.linkedin.com/in/mordavidj/"><img src="https://pngimg.com/uploads/linkedIn/linkedIn_PNG32.png" class="SocialMedia-icon" alt="LinkedIn" title="LinkedIn"></a>
            <a href="https://www.facebook.com/mordavidj"><img src="https://image.flaticon.com/icons/png/512/124/124010.png" class="SocialMedia-icon" alt="Facebook" title="Facebook"></a>
         </div>
      </div>
   </footer>
</html>
