body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin-bottom: 100px;
  margin-top: 25px;
}

a {
  color: #00B7FF;
}

.img-fluid {
  margin-bottom: 30px;
  border-radius: 1vw;
  box-shadow: 5px 5px 2px dimgray;
}

footer {
  height: 100px;
  background-color: lightgray;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  font-size: 18px;
}

.SocialMedia-icon {
  width: 60px;
  height: 60px;
  border-radius: 10%;
}

#PFlinkBlock {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 50%;
  padding-left: 10px;
  border-left: 1px groove lightgray;
}

#justMe {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  text-align: right;
  width: 50%;
  display: inline-block;
  padding-right: 10px;
}

td {
  width: 200px;
}